@using System.Text.Json
@using SEP6_Blazor.Data
@using SEP6_Blazor.Models

@inject IMovieService MovieService;

<div class="search-bar-main">
    <div class="search-bar-select">
        <div class="select-query-type @borderRadiusClass">
            <select @bind="@selectedQueryType" @onblur="SetNoBorder" @onclick="CalculateBorder" name="search-options" id="search-options">
                <option value="all">All</option>
                <option value="movies">Movies</option>
                <option value="tvseries">TV Series</option>
                <option value="genre">Genre</option>
                <option value="actors">Actors</option>
                <option value="crew">Crew</option>
            </select>
        </div>
    </div>
    <div class="search-bar-input">
        <input @bind-value="@queryData" @bind-value:event="oninput" @onkeydown="@Search" @onfocus="SetFocused" @onblur="SetUnfocused" type="text" placeholder="Search..."/>
    </div>
    <div class="search-bar-button">
        <button type="submit" @onclick="SendQuery" class="@focusClass">
            <img src="Assets/magnifying-glass.svg" alt="search-button-icon"/>
        </button>
    </div>
</div>

@code
{
    private string? queryData { get; set; }
    private string selectedQueryType { get; set; } = "all";

    private bool isFocused = false;
    private string? focusClass => isFocused ? "searchFocused" : null;

    private bool isActive = false;
    private string? borderRadiusClass => isActive ? "borderRadius" : null;

    [Parameter]
    public Results Result { get; set; }

    [Parameter]
    public EventCallback<Results> ResultChanged { get; set; }

    private void SetFocused()
    {
        isFocused = true;
    }

    private void SetUnfocused()
    {
        isFocused = false;
    }

    private void SetNoBorder()
    {
        isActive = false;
    }

    private void CalculateBorder()
    {
        isActive = !isActive;
    }

    private async Task Search(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            await SendQuery();
        }
    }

    private async Task<Task> SendQuery()
    {
        if (queryData is not "")
        {
            switch (selectedQueryType)
            {
                case "all":
                    Result = await MovieService.SearchMovie(queryData);
                    break;
                case "movies":
                    Result = await MovieService.SearchMovie(queryData);
                    break;
                case "tvseries":
                    Result = await MovieService.SearchMovie(queryData);
                    break;
                case "genre":
                    Result = await MovieService.SearchMovie(queryData);
                    break;
                case "actors":
                    Result = await MovieService.SearchMovie(queryData);
                    break;
                case "crew":
                    Result = await MovieService.SearchMovie(queryData);
                    break;
            }
        }
        return ResultChanged.InvokeAsync(Result);
    }
}